@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Anton&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  left: 0.1px;
  /*    border: solid 2px red; */
}

html, body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 14px;
  font-family: 微軟正黑體;
  font-weight: 700;
}

a {
  color: initial;
  text-decoration: initial;
}

.box {
  height: 500px;
  width: 300px;
  background-color: #fff;
  box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}

.box:hover {
  box-shadow: 5px 5px 60px rgba(0, 0, 0, 0.4);
  transform: translate(-5px, -5px);
}

.top {
  background-image: url(https://awenawang.github.io/money-heist/1539433293-341705603_n.png);
  background-position: center;
  background-size: cover;
  height: 330px;
  position: relative;
  transition: 0.5s;
}

.top .tag {
  width: 25px;
  height: 50px;
  background-color: #CD853F;
  float: right;
  margin-right: 20px;
}

.top .name {
  position: absolute;
  left: 0px;
  bottom: 0px;
  padding: 5px 15px;
  letter-spacing: 2px;
  color: white;
  font-size: 24px;
  font-weight: 300;
  background: linear-gradient(transparent 0%, black 100%);
  width: 100%;
  padding-top: 30px;
  padding-bottom: 15px;
}

.top .name .smallText {
  font-size: 14px;
}

.cirbutton {
  width: 50px;
  height: 50px;
  background-color: #CD853F;
  border-radius: 50%;
  position: absolute;
  right: 30px;
  bottom: -20px;
}

.bottom {
  padding: 10px 20px 20px 20px;
}

.bottom li {
  padding: 5px 0px;
}

.bottom h3 {
  display: inline-block;
}

.bottom ul {
  list-style: none;
  padding-left: 0;
}

.buttons {
  margin-top: 30px;
}

.buttons .btn {
  display: inline-block;
  padding: 10px 25px;
  letter-spacing: 2px;
}

.btnWebsite {
  background-color: #CD853F;
  color: white;
  transition: 0.5s;
}

.btnWebsite:hover {
  background-color: #CD853F;
}

.btnNews {
  border: solid 1px black;
  float: right;
}

.btnNews:hover {
  background-color: #eee;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  position: relative;
  background-color: #fcf6ba;
  box-sizing: border-box;
  border-top: solid 30px #116584;
  border-bottom: solid 30px #116584;
  overflow: hidden;
}

.Top {
  position: absolute;
  height: 300px;
  width: 300px;
  background-color: #3e8f7f;
  color: #ffffff;
  border-radius: 30px 30px 225px 30px;
  margin-top: -100px;
  margin-left: -75px;
  font-family: 'Anton', sans-serif;
}
.Top h3 {
  margin-left: 100px;
  margin-top: 100px;
  font-size: 25px;
  width: 100px;
  line-height: 60px;
}
.Top h3 span {
  background-color: red;
  font-size: 50px;
}

.screen {
  width: 100%;
  height: 100%;
  left: 100%;
}

.namecard {
  position: fixed;
  width: 250px;
  height: 70px;
  left: 85%;
  top: 50%;
  padding: 0px 20px 30px 20px;
  overflow: hidden;
  background-color: #3e6e7f;
  color: #fff;
  border: solid 1px rgba(0, 0, 0, 0.15);
  box-shadow: 20px 25px 15px -15px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-family: 微軟正黑體;
  transition: 0.5s;
}
.namecard hr {
  border-color: #fff;
  margin-top: -15px;
  margin-bottom: 20px;
}
.namecard h2 {
  font-size: 25px;
}
.namecard span {
  font-size: 18px;
}
.namecard h5 {
  font-size: 16px;
  font-weight: 400;
}

.namecard:hover {
  transform: translate(-50px, -50px);
  box-shadow: -20px -25px 15px -15px rgba(0, 0, 0, 0.5);
}

.allbub {
  width: 100%;
  height: 100%;
  border-radius: 0px;
  z-index: -3;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #333;
  animation: back 8s infinite;
}
@keyframes falling {
  0%,100% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  0% {
    transform: translate(100%, 0px);
  }
  100% {
    transform: translate(0px, 100%);
  }
}
.allbub [class*='bub'] {
  background-color: #fff;
  width: 3px;
  height: 100px;
  border-radius: 15px;
  animation: falling 2s infinite;
}
.allbub .bub1 {
  position: absolute;
  left: 36.7747685935%;
  top: 17.0880898529%;
  animation-delay: -0.1s;
}
.allbub .bub2 {
  position: absolute;
  left: 91.5666811619%;
  top: 5.0232234344%;
  animation-delay: -0.2s;
}
.allbub .bub3 {
  position: absolute;
  left: 59.9212369505%;
  top: 76.5937195323%;
  animation-delay: -0.3s;
}
.allbub .bub4 {
  position: absolute;
  left: 89.5685221532%;
  top: 51.216105218%;
  animation-delay: -0.4s;
}
.allbub .bub5 {
  position: absolute;
  left: 95.38380426%;
  top: 10.5348465982%;
  animation-delay: -0.5s;
}
.allbub .bub6 {
  position: absolute;
  left: 65.7671752648%;
  top: 71.6610238875%;
  animation-delay: -0.6s;
}
.allbub .bub7 {
  position: absolute;
  left: 90.5143658348%;
  top: 2.5252184617%;
  animation-delay: -0.7s;
}
.allbub .bub8 {
  position: absolute;
  left: 89.4657473857%;
  top: 43.0558491353%;
  animation-delay: -0.8s;
}
.allbub .bub9 {
  position: absolute;
  left: 55.8374720912%;
  top: 47.7198487208%;
  animation-delay: -0.9s;
}
.allbub .bub10 {
  position: absolute;
  left: 29.669750717%;
  top: 67.6106103884%;
  animation-delay: -1s;
}
.allbub .bub11 {
  position: absolute;
  left: 42.0572796552%;
  top: 11.8512147491%;
  animation-delay: -1.1s;
}
.allbub .bub12 {
  position: absolute;
  left: 35.0957766339%;
  top: 30.8140833474%;
  animation-delay: -1.2s;
}
.allbub .bub13 {
  position: absolute;
  left: 47.9290951588%;
  top: 49.9413075622%;
  animation-delay: -1.3s;
}
.allbub .bub14 {
  position: absolute;
  left: 75.348723606%;
  top: -7.9244454405%;
  animation-delay: -1.4s;
}
.allbub .bub15 {
  position: absolute;
  left: 17.2084012443%;
  top: 15.7651588841%;
  animation-delay: -1.5s;
}
.allbub .bub16 {
  position: absolute;
  left: 31.5911343944%;
  top: 24.4608334691%;
  animation-delay: -1.6s;
}
.allbub .bub17 {
  position: absolute;
  left: 94.1834725764%;
  top: 41.1395230362%;
  animation-delay: -1.7s;
}
.allbub .bub18 {
  position: absolute;
  left: 70.9773970735%;
  top: 61.2115955467%;
  animation-delay: -1.8s;
}
.allbub .bub19 {
  position: absolute;
  left: 3.298817257%;
  top: 74.0262021879%;
  animation-delay: -1.9s;
}
.allbub .bub20 {
  position: absolute;
  left: 94.6077480662%;
  top: 8.0404346862%;
  animation-delay: -2s;
}

@keyframes back {
  0% {
    background-color: #643e7f;
  }
  25% {
    background-color: #e4ff1c;
  }
  50% {
    background-color: #266375;
  }
  75% {
    background-color: #3dcc6a;
  }
  100% {
    background-color: #e0d83e;
  }
}
@keyframes title {
  0% {
    margin-top: -200px;
    margin-left: -300px;
  }
  50% {
    margin-top: -75px;
    margin-left: -50px;
  }
  100% {
    margin-top: -100px;
    margin-left: -75px;
  }
}
.Top {
  animation-name: title;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  /*    border: solid 2px red; */
}

html, body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 14px;
  font-family: 微軟正黑體;
  font-weight: 700;
}

a {
  color: initial;
  text-decoration: initial;
}

.box {
  width: 380px;
  background-color: #fff;
  box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}

.box:hover {
  box-shadow: 5px 5px 60px rgba(0, 0, 0, 0.4);
  transform: translate(-5px, -5px);
}

.top {
  background-image: url(https://awenawang.github.io/money-heist/1539433293-341705603_n.png);
  background-position: center;
  background-size: cover;
  height: 330px;
  position: relative;
  transition: 0.5s;
}

.top .tag {
  width: 25px;
  height: 50px;
  background-color: #CD853F;
  float: right;
  margin-right: 20px;
}

.top .name {
  position: absolute;
  left: 0px;
  bottom: 0px;
  padding: 5px 15px;
  letter-spacing: 2px;
  color: white;
  font-size: 24px;
  font-weight: 300;
  background: linear-gradient(transparent 0%, black 100%);
  width: 100%;
  padding-top: 30px;
  padding-bottom: 15px;
}

.top .name .smallText {
  font-size: 14px;
}

.cirbutton {
  width: 50px;
  height: 50px;
  background-color: #CD853F;
  border-radius: 50%;
  position: absolute;
  right: 30px;
  bottom: -20px;
}

.bottom {
  padding: 10px 20px 20px 20px;
}

.bottom li {
  padding: 5px 0px;
}

.bottom h3 {
  display: inline-block;
}

.bottom ul {
  list-style: none;
  padding-left: 0;
}

.buttons {
  margin-top: 30px;
}

.buttons .btn {
  display: inline-block;
  padding: 10px 25px;
  letter-spacing: 2px;
}

.btnWebsite {
  background-color: #CD853F;
  color: white;
  transition: 0.5s;
}

.btnWebsite:hover {
  background-color: #CD853F;
}

.btnNews {
  border: solid 1px black;
  float: right;
}

.btnNews:hover {
  background-color: #eee;
}
